<div class="navbar">
    <a href="#school">School</a>
    <a href="#prof">Professors</a>
    <div class="dropdown">
        <button class="dropbtn">
            Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Dropdown1</a>
        </div>
    </div>
    <LinkTo @route="sign-in" class="dropbtn">
        Sign-In
    </LinkTo> 
</div>
<div class="bgimage">
    <div>
        <h1>Study Together</h1> 
    </div>
    <p>
        These are difficult times, but the more that we work together 
        the better we can learn from one another.
    </p>
</div>